

body{font-family: sans-serif;}
a{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.line-1 .logo{
    display: inline;
}
.logo-title{
    display: inline-flex;
}
.title{
    font-family: sans-serif;
    color: black;
}
.title:hover{text-decoration: underline;}
.yt-box{
    display: inline-flex;
    position: absolute;
    top: 32px;
    right: 20px;
    padding: 0;
    margin: 0;
    height: 28px;
    border: 1px solid rgb(186, 186, 186);
}
.yt-box span{
    padding: 5px;
}
.yt-logo{width: 100px;}
.yt-box:hover{opacity: 0.5;}
.title-spans{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 10px;
}
.title-spans span{
    color: grey;
}
.dot{
    font-size: 10px !important;
    margin: 10px;
}
.yt-logo-res{display:none;}
.yt-logo-res:hover{opacity: 0.5;}
/* res header  */
@media screen and (max-width:600px){
    .line-1 .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo{width: 60px;}
    .logo-title{
        display: block;
        text-align: center;
    }
    .yt-box{
        display: none;
    }
    .title-spans{
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        line-height: 10px;
    }
    .title-spans span{
        color: grey;
    }
    .yt-logo-res{display: block; margin-right: auto; margin-left: auto; width: 100px;}
    .title{font-size: 7vw;}
}
@media screen and (max-width:400px){
    .title-spans span{display: block; line-height: 35px; font-size: small;}
    .title{line-height: normal;}
    .dot{display: none!important;}
}
/* pagination */
.center {
    text-align: center;
    position: absolute;
    bottom: 0;

}  
/* .pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 15px;
}

.pagination a.active {
    background-color: #f30404;
    color: white;
    border: 1px solid #f30404;
}

.pagination a:hover:not(.active) {background-color: #ddd;} */

/* search  */
#searchbar{
    padding:15px;
    margin: 15px;
    border-radius: 15px;
    border: 2px solid #ff0000;
  }

input[type=text] {
    width: 30%;
    font-family: sans-serif;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

  /* When the input field gets focus,
       change its width to 100% */
input[type=text]:focus {
    width: 70%;
}
#list{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#list li {
    max-width: 25%;
    max-height: auto;
    /* -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black; */
    margin-bottom: 15px;
    padding: 10px;
    list-style-type: none;
    margin-left: 0!important;
    padding-left: 0!important;
}
 
.video{
   float: left;
   cursor: pointer;
} 
.video h3{
    margin-top: 10px;
    padding: 5px;
    font-family: sans-serif;
    /* clipping it to a single line  */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video iframe{margin: 0; padding: 0; border: none;}

.video:hover h3{
    text-decoration: underline;
}
.video span{display: block; padding: 5px;}
.date{color: grey; margin: 0;}
.des{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.info{color: grey; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.infod{display: inline !important; font-size: 10px !important;}

@media screen and (max-width:350px){
    .video {
        width: 100%;
        display: block;
        margin: 0;
        padding: 20px;
        margin-left: 0!important;
        padding-left: 0!important;
        /* margin-right: 50px!important; */
    }
}
footer {
	background-color: #f1f1f1;
	color: black;
	margin: 0;
	position:static;
	padding: 0;
	width: 100%;
}
